.markdown-body {
    word-wrap: break-word;
    line-height: 1.5;
    font-family: mdconv-custom, sans-serif
}

.markdown-body :first-child {
    margin-top: 0
}

@media screen and (min-width: 64em) {
    .markdown-body {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .markdown-body {
        padding: 2rem 4rem;
        font-size: 1.1rem
    }
}

@media screen and (max-width: 42em) {
    .markdown-body {
        padding: 2rem 1rem;
        font-size: 1rem
    }
}

.markdown-body img {
    max-width: 100%
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957
}

.markdown-body p {
    margin-bottom: 1em
}

.markdown-body a {
    color: #1e6bb8;
    text-decoration: none
}

.markdown-body a:hover {
    text-decoration: underline
}

.markdown-body code {
    padding: 2px 4px;
    font-family: "Cascadia Code", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #567482;
    background-color: #f3f6fa;
    border-radius: 0.3rem
}

.markdown-body pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem "Cascadia Code", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem
}

.markdown-body pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 1rem
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch
}

.markdown-body pre code,
.markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre code:before,
.markdown-body pre code:after,
.markdown-body pre tt:before,
.markdown-body pre tt:after {
    content: normal
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0
}

.markdown-body blockquote {
    padding: .5rem 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch
}

.markdown-body table th {
    font-weight: bold
}

.markdown-body table th,
.markdown-body table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold
}

.markdown-body dl dd {
    padding: 0;
    margin-bottom: 1rem
}

.markdown-body hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0
}